body {
	line-height: 1.4;
	background-color: $light-blue;

	h1, h2, h3 {
		font-family: $font-family-headline;
	}
	p, a {
		font-family: $font-family-text;
		font-size: 1.4em;
	}

	h1 {
		font-size: 2.2em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.8em;
	}

	.top-bar {
		width: 100vw;
		padding: 10px 2em;
		background-color: $black;

		.logo {
			height: 60px;
			width: auto;
		}
	}

	footer {
		background-color: $black;
		display: flex;
		justify-content: center;
		font-family: $font-family-text;
		font-size: 1.2em;

		.contact {
			display: flex;
			flex-direction: column;
			margin-top: 20px;
			margin-bottom: 20px;
			width: 250px;

			color: white;

			.contact-info {
				width: 100%;
				display: flex;

				img {
					width: 7%;
					color: white;
					margin-right: 5px;
				}

				div {
					width: 93%;
					border-bottom: 1px solid white;
				}
			}
		}
	}
}