.contact-container{
	background-image: url("/assets/big-picture.jpeg");
	background-position: center;
	display: flex;
	align-content: center;
	justify-content: center;
	border: black;
	color: white;

	form {
		margin-top: 20px;
		display: flex;
		justify-content: center;
		padding: 10px;
		flex-direction: column;
		width: 30%;
		background-color: $dark-green;
		align-items: center;
		height: 800px;
		border-radius: 10px;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.artist-menu {
		padding-bottom: 20px;
		width: 70%; 
		flex-direction: row;  
	}

	.priority {
		display: flex;
		flex-direction: column;
	}

	label {
		padding-top: 15px;
		font-family: verdana;
	}

	.food {
		margin-bottom: 20px;
	}

	.check {
		padding: 12px;
		border: solid 1px white;
		border-radius: 4px;
		margin-bottom: 10px;

		&:hover{
			background-color: white;

			a {
				text-decoration: underline;
				color: black;
			}
		}

		a {
			text-decoration: none;

			
			&:visited{
				color: white;
			}
			&:active{
				color: white;
			}	
		}
	}
}